.profile_dropdown_btn {
  transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
    border 0.3s;
}
.profile_dropdown_btn:hover .profile_dropdown_list {
  display: block;
}
.profile_dropdown_btn:hover .icon {
  display: none;
}
.profile_dropdown_btn:hover .secIcon {
  display: flex;
}
.profile_dropdown_list::before {
  content: "";
  position: absolute;
  top: -2%;
  right: 45%;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #fff;
  transform: rotate(45deg);
  z-index: -1;
}
.profile_dropdown_list {
  transition: max-height 0.5s;
}
.profile_dropdown_list_item {
  transition: background-color 0.2s ease-in, padding-left 0.2s;
}
.profile_dropdown_list_item:hover {
  padding-left: 1.5rem;
}
.profile_dropdown_list_item_link {
  transition: margin-right 0.3s;
}
